body{
    background-color: #000;
    font-family: sans-serif;
}

.contenedor{
    text-align: center;
    align-items: center;
}

.form{
    background-color: #111;
    padding: 20px;
    margin: auto;
    width: 10cm;
    margin-top: 1cm;

}

.fieldset{
    padding: 25px;
    border: 5px solid #0009;
    border-radius: 10px;
}


.form__title{
    color: yellow;
    border-radius: 50px;
    padding: 0px 10px;
}

.form__image{
    width: 3cm;
    height: 1.9cm;
    margin: 10px;
}

.form__input{
    border: 2px solid #000;
    width: 100%;
    background-color: #111;
    color: rgb(255, 255, 255);
}

.form__input:valid{
    color: rgb(0, 255, 30);
    border-color: rgb(0, 255, 30);
}

.form__input:invalid{
    color: red;
}

.form__buttom{
    background-color: #111;
    color: yellow;
    border: 2px solid rgb(197, 197, 25);
    border-radius: 2px;
}

.form__buttom:hover{
    border: 3px solid yellow;
}